{% extends 'base.html' %} {% load static %} {% block content%}
<style>
  .input-grou {
    display: none;
  }
  @media screen and (max-width: 575px) {
    .input-grou {
      display: flex;
    }
    .box {
      flex-direction: column;
    }
  }
</style>

<div class="container">
  <div class="logo_section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="logo">
            <a href="{% url 'home' %}"
              ><img src="{% static 'images/logo.png' %}"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header_section" style="margin: 20px 10px">
    <div class="container">
      <div class="containt_main input-grou justify-content-between">
        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
            >&times;</a
          >
          <a href="{% url 'home' %}">Home</a>
          <a href="{% url 'index' %}">Products</a>
          <a href="fashion.html">Fashion</a>
          <a href="electronic.html">Electronic</a>
          <a href="jewellery.html">Jewellery</a>
        </div>
        <span class="toggle_icon" onclick="openNav()"
          ><img src="{% static 'images/toggle-icon.png' %}"
        /></span>

        <div class="main input-grou" style="flex: none">
          <!-- Another variation with a button -->
          <div class="input-grou">
            <a href="{% url 'cart' %}">
              <i
                class="fa fa-shopping-cart cart-icon"
                style="color: #fff; margin-left: 10px"
                aria-hidden="true"
              ></i>
              <p id="cart-total">{{order.get_cart_items}}</p></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box d-flex gap-2" style="margin: 20px">
    <h1
      class="payment-text box-element d-flex align-item-center"
      style="color: #f26522; font-weight: bold"
    >
      Our payment gateway is faulty, Please contact the Admin to make your
      payment
    </h1>
    <form class="form-control" action="">
      <input style="width: 100%" class="m-2" type="text" value="Name" /> <br />
      <input style="width: 100%" class="m-2" type="email" value="Email" />
      <br />
      <textarea
        class="m-2"
        style="width: 80%"
        type="text-area"
        value="name"
      ></textarea>
      <input
        class="m-2 btn btn-secondary"
        style="background-color: #f26522; border: #f26522"
        type="submit"
        name=""
        id=""
      />
    </form>
  </div>
</div>
{% endblock %}
